/* The swatches I will use */
$mainswatch : (
  bg: #e6e6d8,
  color-1 : #000, //#00a99d
  color-2: #697170,
  color-3: #005C56,
  color-4: #A93800,
  color-5: #04AE5F,
  color-6: #005D57,
  color-7: #FBFBFB,
  color-8: #707070,
  color-9: #C8C8C8,
);

/* Base styles */
$ms00: 1 !default;

$base-margin: 16px;
$base-padding: 1.5rem;

$primary-font-family: 'Open Sans', sans-serif; // Title
$base-font-family: 'Roboto', sans-serif; // Text 
$secondary-font-family: $base-font-family;
$sans-serif-font-family: sans-serif;
$serif-font-family: serif;

$base-font-size: #{$ms00 * 16}px !default;
$base-line-height: 1.5;
$base-border-radius: 3px;

$body-background-color: map-get($mainswatch, bg);
$base-color: #444;

$input-border-radius: 15px;
$input-border-color: 0.5px solid #697170;


$input-padding: 5px; /* added */


/* Header styles */ /* Added */
$header-background-color: #fff;
$header-border-bottom: 0.5px solid #697170; 
$headings-line-height: 1.5;

$border-bottom-line: 2px solid map-get($mainswatch, color-8);
$margin-bottom: 10px;

$card-background-color: map-get($mainswatch, color-7);
$card-padding: 20px;
$card-margin: 30px;
$card-border-radius: 15px;
$card-background-boxshadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$card-text-color: map-get($mainswatch, color-2);

$button-background-color: map-get($mainswatch, color-5); 
$button-color: #fff;
$button-border-radius: 20px;
$button-padding: 15px;

$change-button-color: map-get($mainswatch, color-4);
$change-background-color: #ffffff; 
$change-border-color: map-get($mainswatch, color-8);
$change-button-border: 0.5px solid map-get($mainswatch, color-2);

