<div class="container">
  <div class="border-line">
    <h1 class="main-title">Contact</h1>
  </div>

  <div class="row">
    <div class="col-6">

      <div class="card text-card">
        <p>Hebt u vragen voor ons? Bent u het niet eens over
          <br> een bepaalde veiling of wilt u gewoon eens uw hart kunnen
          <br> luchten? Wij kijken wat we kunnen doen </p>
      </div>


      <form class="card contact-form" action="post">
        <h2>Naam</h2>
        <input class="form-input" type="text" name="name" id="Name">

        <h2>Email</h2>
        <input class="form-input" type="email" name="email" id="email">

        <h2>Bericht</h2>
        <input class="form-input" type="text" name="message" id="message">

        <div class="button-container">
          <button type="submit" class="main-button login-button">
            <a class="main-button" href="/#">Verstuur</a>
          </button>
        </div>
        <p class="bottom-text">Wij antwoorden ALTIJD!</p>
      </form>


    </div>
    <div class="col-6">

      <div class="card contact-card">
        <div class="border-line">
          <h1>VINTAGE CYCLING SHOP</h1>
          <p>Kerkstraat 27
            <br> 9230 Wetteren
          </p>
        </div>
        <div class="border-line">
          <h1>CONTACTEER</h1>
          <p>Email: jens.rottiers@vcs.be
            <br> Tel: 0401/23.45.67
          </p>
        </div>
        <h1>SOCIALE MEDIA</h1>
        <div class="row">
          <div class="col-3">
              <a href="https://www.facebook.com/"><i class="icon ion-social-facebook"></i></a>
          </div>
          <div class="col-3">
              <a href="https://www.instagram.com/"><i class="icon ion-social-instagram"></i></a>
          </div>
          <div class="col-3">
              <a href="https://www.twitter.com/"><i class="icon ion-social-twitter"></i></a>
          </div>
          <div class="col-3">
              <a href="https://www.youtube.com/"><i class="icon ion-social-youtube"></i></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>