<header class="header" role="heading">
  <nav class="container">
    <ul class="nav-container">
      <div class="nav-left">
          <li><a class="nav-left__logo" href="/home">VCS</a></li>
      </div>
      <div class="nav-right">
        <li class="hidden"><a href="/auctions" class="activepage">Onze aanbiedingen</a></li>
        <li class="hidden"><a href="/contact" class="activepage">Contact</a></li>
        <li class="nav-right__line hidden">|</li>
        <li class="hidden"><a href="/offer" class="activepage">Zelf iets aanbieden</a></li> <!--offer -->
        <li class="hidden"><a href="/create" class="activepage">Inloggen</a></li>
        <li class="hidden"><a href="/create" class="activepage" (click)="logOut()">Uitloggen</a></li>
      </div>
    </ul>
  </nav>
</header>