<div class="container">
  <div class="row">
    <div class="col-12">
      <form class="card register-form" action="post">
        <div class="border-line">
          <h1 class="main-title">Registreer</h1>
        </div>

        <h2>Naam</h2>
        <input class="form-input" type="text" name="name" id="name">

        <h2>Email</h2>
        <input class="form-input" type="email" name="email" id="email">

        <h2>Wachtwoord</h2>
        <input class="form-input" type="password" name="password" id="password">

        <h2>Wachtwoord</h2>
        <input class="form-input" type="password" name="password" id="password">

        <div class="button-container">
          <button type="submit" class="main-button register-button">
            <a class="main-button" href="/#">Registreer</a>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>