<div class="container">
  <div class="row margin-helper">
    <div class="col-4">
      <div class="card sidebar">
        <ul>
          <li>
            <button class="main-button">
              <a class="main-button" href="/profile">Mijn Profiel</a>
            </button>
          </li>
          <li>
            <button class="main-button">
              <a class="main-button" href="/own-auctions">Mijn Veilingen</a>
            </button>
          </li>
          <li>
            <button class="main-button">
              <a class="main-button" href="/offer">Veiling Aanmaken</a>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-8">
      <div class="card main-content">
        <h1>Mijn Veilingen</h1>
        <div class="row">
          <app-card></app-card>
        </div>
        <div class="row">
          <a href="/edit-profile" class="change-button">Wijzigen</a>
        </div>
        <div class="row delete-account-container">
          <p class="delete-account-text"><app-delete-button></app-delete-button></p>
        </div>
      </div>
    </div>

  </div>
</div>
