<!-- Hardcoded now will be replaced by variables or objects -->

<div class="card">
  <div class="main-title">
    <h1>Eddy Merckx</h1>
    <h1 class="main-title__price">170 €</h1>
  </div>
  <div class="sub-title">
    <h2>Sluit over</h2><div class="sub-title__remaining-time">9u 22m 24s</div>
  </div>
  <div class="row images">
    <div class="col-md-3">
      <img src="../../../../assets/images/placeholder.jpg" alt="">
    </div>
    <div class="col-md-3">
      <img src="../../../../assets/images/placeholder.jpg" alt="">
    </div>
    <div class="col-md-3">
      <img src="../../../../assets/images/placeholder.jpg" alt="">
    </div>
    <div class="buttons">
      <div class="col-md-3">
        <button class="button-bid">Bied mee</button>
        <button class="button-hide">Verberg</button>
      </div>
    </div> 
  </div>
</div>
