@import
  "1-abstracts/functions",
  "1-abstracts/variables",
  "2-base/fonts",
  "2-base/reset",
  "3-components/tables",
  "3-components/card";

body {
    padding: $base-padding;
    margin: $base-margin;
    font-family: $base-font-family;
    background-color: $body-background-color;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: map-get($mainswatch, color-1);
}



h1,h2,h3,h4 {
  font-family: $primary-font-family;
  color: map-get($mainswatch, color-2);
}

img {
  width: auto;
  height: 400px;
  margin: 10px;
}

/* Opmaak voor de 2 grote foto's van 2dehands.be
//.hands {
  width: auto;
  height: 50px;
}
*/

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: map-get($mainswatch, color-6);

  &:hover {
    color: map-get($mainswatch, color-1);
    transition: 0.5s;
  }
}



li {
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-left: 0.25rem;
  font-size: 18px;

}

.datamodel {
  width: 800px;
  height: auto;
}