/* The swatches I will use */
$mainswatch : (
        bg: #e6e6d8,
        color-1 : #000000,
        color-2 : #697170,
        color-3: #005C56,
        color-4: #A93800,
        color-5 : #04AE5F,
        color-6: #005D57,
        color-7: #FBFBFB,
);

// Body
$body-bg: map-get($mainswatch, bg);
$body-color: map_get($mainswatch, color-1);

// Typography
$base-margin: 16px;
$primary-font-family: 'Open Sans', sans-serif; // Title
$base-font-family: 'Roboto', sans-serif; // Text
$line-height-base: 1.5;
