<div class="container">
  <div class="row margin-helper">
    <div class="col-4">
      <div class="card sidebar">
        <ul>
          <li>
            <button class="main-button">
              <a class="main-button" href="/profile">Profiel</a>
            </button>
          </li>
          <li>
            <button class="main-button">
              <a class="main-button" href="/own-auctions">Mijn Veilingen</a>
            </button>
          </li>
          <li>
            <button class="main-button">
              <a class="main-button" href="/offer">Veiling Aanmaken</a>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-8">
      <div class="main-content">
        <h1>Veilingen aanmaken</h1>
        <form class="card" #offerForm="ngForm">
          <!--
          <form class="card" action="post" #offerForm="ngForm" (ngSubmit)="addProduct()" >
          -->
          <div class="row">
            <div class="col-md-6 ">
              <div class="card-profile">
                <div class="element">
                  <label>
                    <p> Kies een naam voor jouw aanbieding</p>
                  </label>
                  <input type="text" id="name" required [(ngModel)]="product.name" name="name" />
                  <!---TODO: remove this : {{product.name}} -->
                </div>
                <div class="element">
                  <label>
                    <p>Voeg een beschrijving toe</p>
                  </label>
                  <textarea type="text" id="description" required [(ngModel)]="product.description" name="description"></textarea>
                </div>
                <div class="element">
                  <label>
                    <p>Begin bod (€)</p>
                  </label>
                  <input type="number" name="bid" />
                </div>
                <div class="element">
                  <label>
                    <p>Startdatum voor de veiling</p>
                  </label>
                  <input type="date" id="start_of_bid_period" required [(ngModel)]="product.start_of_bid_period" name="start_of_bid_period"
                  />
                </div>
                <div class="element">
                  <label>
                    <p>Einddatum voor de veiling</p>
                  </label>
                  <input type="date" id="end_of_bid_period" required [(ngModel)]="product.end_of_bid_period" name="end_of_bid_period" />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card-profile">
                <div class="element">
                  <label>
                    <p> Welke categorie ?</p>
                  </label>
                  <select>
                    <option *ngFor="let category of categories" [value]="selectedCategory" name="category">{{category.name}}</option>
                </select>
                  
                </div>
                <div class="element">
                  <p>Voeg een foto toe aan je product</p>
                  <form style="margin-bottom: 20px;" id="uploadForm" enctype="multipart/form-data" method="post" action="#">
                    <input id="fileUpload" name="myFile" type="file" />
                    <input type="submit" value="submit" id="submit" />
                  </form>
                  <p>Preview:</p>
                  <img src="../../../../assets/images/placeholder.jpg" alt="">
                </div>
              </div>
            </div>

            
          </div>
          <div class="row">
            <div class="col-6">
              <!--
              <a href="/own-auctions" class="main-button" style="margin: 20px;">Aanmaken</a>
              -->
              <div class="create-bid-container">
              <button type="submit" class="main-button register-button" (click)="addProduct();">
                <a class="main-button">Aanmaken</a>
              </button>
              </div>
            </div>
              <!-- replace by button -->
            <div class="col-6">
            <div class="delete-account-container">
              <p class="delete-account-text">
                <app-delete-button></app-delete-button>
              </p>
            </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>