<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-6 links_contact">
          <ul>
            <li><a href=""> Disclaimer </a> </li>
            <li><a href=""> Cookiepolicy </a> </li>
            <li><a href=""> Privacy </a> </li>
            <li><a href=""> GDPR </a> </li>
          </ul>
        </div>
        <div class="col-6 links_social">
            <ul>
              <li><a href="https://www.facebook.com/"><img src="../../../../assets/logos/facebook.svg" alt="facebook-logo"></a> </li>
              <li><a href="https://www.instagram.com/"><img src="../../../../assets/logos/instagram-icon.svg" alt="instagram-logo"></a> </li>
              <li><a href="https://www.twitter.com/"><img src="../../../../assets/logos/twitter.svg" alt="twitter-logo"></a> </li>
              <li><a href="https://www.youtube.com/"><img src="../../../../assets/logos/youtube.svg" alt="youtube-logo"></a> </li>
            </ul>
          </div>
      </div>
    </div>
</footer>