<div class="landing">
  <div className="dark-overlay landing-inner">
    <div class="container">
      <div class="row center-items">
        <h1 class="main-title-text">Verkoop en bied zelf op al uw favoriete fiets items bij</h1>
        <h1 class="main-title">Vintage Cycling Shop</h1>
      </div>
    </div>
  </div>
  <div class="row bottom-icon">
    <a>
      <i class="ion-chevron-down bottom-icon__custom-icon"></i>
    </a>
  </div>
</div>
<!--
  <div class="row middle">
    <div class="col-md-4">
      <img src="../../../../assets/images/eddy_roger.jpg">
    </div>
    <div class="col-md-4 col-md-offset-2">
      <img src="../../../../assets/images/eddy_tour.jpg">
    </div>
    <div class="col-md-4">
      <img src="../../../../assets/images/gino_coppi.jpg">
    </div>
  </div>
  <div class="row middle">
    <div class="col-md-4">
      <img src="../../../../assets/images/freddy.jpg">
    </div>
    <div class="col-md-4">
      <img src="../../../../assets/images/lucien_tour.jpg">
    </div>
    <div class="col-md-4">
      <img src="../../../../assets/images/water.jpg">
    </div>
  </div>
  -->


<div class="container">
  <h1>Populairste veilingen</h1>

  <div class="popular border-line">
    <h2>Wielertruitjes</h2>
    <a href="/auctions">Alle Aanbiedingen</a>
    <i ng-href="/auctions" class="ion-arrow-right-c popular__custom-icon2"></i>
  </div>
  <div class="row cards-container">
    <div class="col-md-6">
      <app-card></app-card>
    </div>
    <div class="col-md-6">
      <app-card></app-card>
    </div>
  </div>

</div>