<!-- Overzicht van alle veilingen/producten // component die op een page zal opgeroepen worden -->



<h2>
  Selecteer het product waar u op wilt bieden !
</h2>

<!--
  <div *ngFor="let product of products">
    <h1>{{product.name}}</h1>
  </div>
  -->



<div class="card b-width table-card">

  <table class="table">
    <thead>
      <tr>
        <th>
          <h3>ProductNaam</h3>
        </th>
        <th>
          <h3> Eigenaar</h3>
        </th>
        <th>
          <h3> Locatie</h3>
        </th>
        <th>
          <h3> Laatste Bod (Euro)
          </h3>
        </th>
        <th>
          <h3> Einde Veiling</h3>
        </th>

      </tr>
    </thead>

    <tbody>
      <!--   <div class="table" *ngIf = "selectedCategory"> -->

      <tr *ngFor="let auction of auctions" (click)="onSelect(auction)">


        <td>
          <p> {{auction.productName}} </p>
        </td>
        <td>
          <p> {{auction.productOwner}}</p>
        </td>
        <td>
          <p> {{auction.productLocation}}</p>
        </td>
        <td>
          <p>{{auction.latestBid}} </p>
        </td>
        <td>
          <p> {{auction.end_of_bid_period}}</p>
        </td>

      </tr>
      <!-- </div>  -->
    </tbody>


  </table>
</div>

<div>
  <app-auctions-detail [selectedAuction]="selectedAuction"></app-auctions-detail>

</div>